GO
/****** Object:  Table [dbo].[Adr_ust]    Script Date: 17.05.2023 11:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adr_ust](
	[id] [int] NOT NULL,
	[nazv] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Adr_ust] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Set_Obr]    Script Date: 17.05.2023 11:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Set_Obr](
	[id] [int] NOT NULL,
	[type_obr] [int] NOT NULL,
	[ser_nom] [nvarchar](20) NOT NULL,
	[adr_ust] [int] NOT NULL,
	[proch_sved] [nvarchar](max) NULL,
 CONSTRAINT [PK_Set_Obr] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_obr]    Script Date: 17.05.2023 11:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_obr](
	[id] [int] NOT NULL,
	[nazv] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Type_obr] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Set_Obr]  WITH CHECK ADD  CONSTRAINT [FK_Set_Obr_Adr_ust] FOREIGN KEY([adr_ust])
REFERENCES [dbo].[Adr_ust] ([id])
GO
ALTER TABLE [dbo].[Set_Obr] CHECK CONSTRAINT [FK_Set_Obr_Adr_ust]
GO
ALTER TABLE [dbo].[Set_Obr]  WITH CHECK ADD  CONSTRAINT [FK_Set_Obr_Type_obr] FOREIGN KEY([type_obr])
REFERENCES [dbo].[Type_obr] ([id])
GO
ALTER TABLE [dbo].[Set_Obr] CHECK CONSTRAINT [FK_Set_Obr_Type_obr]
GO
